<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Client Manager</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body style="color: #f2a737; background-color: #333333c7">

<div class="container my-2">
    <h1>Clients List</h1>

    <a th:href="@{/showNewClientForm}" class="btn btn-primary btn-sm mb-3"> Add Client </a>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Logout </a>

    <table border="1" class="table table-striped table-responsive-md" style="background-color: #333;">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${listClients}">
            <td th:text="${client.firtsName}"></td>
            <td th:text="${client.lastName}"></td>
            <td th:text="${client.address}"></td>
            <td th:text="${client.city}"></td>
            <td th:text="${client.state}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.phone}"></td>
            <td>
                <a th:href="@{/showFormForUpdate/{id}(id=${client.id})}"
                   class="btn btn-primary mr">Update</a> <!-- Added margin-right -->
                <a th:href="@{/deleteClient/{id}(id=${client.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>
